{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <p>
        {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new
            one.
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset password' %}"/>
        <section style="position: relative;
            height: 100vh;
            width: 100%;
            background-image: url('https://plov.press/10414574163463646_8c5d.jpg');
            background-size: cover;
            background-position: center center;">
            <div class="form-container">
                <h1>Login Form</h1>
                <form method="Post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <div class="control">
                        <label for="name">Username</label>
                        <input name="username" placeholder="Username" type="text" id="name">
                    </div>
                    <div class="control">
                        <label for="pws">Password</label>
                        <input name="password" placeholder="Password" type="password" id="pws">
                    </div>
                    <span><input type="checkbox"> Remember me.</span>
                    <div class="control">
                        <input type="submit" value="Login">
                    </div>
                    <div class="link"><a href="{% url 'auth_password_reset' %}">Forgot password ?</a></div>
                    <div class="link"><a style="background: crimson"
                                         href="{% url 'registration_register' %}">Register</a></div>
                </form>
            </div>
        </section>
    </form>
{% endblock %}


{# This is used by django.contrib.auth #}
