{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <section style="position: relative;
            height: 100vh;
            width: 100%;
            background-image: url('https://plov.press/10414574163463646_8c5d.jpg');
            background-size: cover;
            background-position: center center;">
        <div class="form-container">
{#            <h1 style="color: blue">Amalni tasdiqlang</h1>#}
            <h1 style="color: blue"> Iltimos E'mail orqali xabarni tasdiqlang</h1>

        </div>
    </section>
{% endblock %}
