{% extends 'layouts/base.html' %}
{% load humanize %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'menu:product-delete' %}">
        {% csrf_token %}
        <!-- Delete Modal HTML -->
        <div class="mt-0 pt-0 h-100" style="position:relative; top: -50px">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2><b><Orders></Orders></b></h2>
                            </div>
{#                            <div class="col-sm-6">#}
{#                                <a href="{% url 'menu:create' %}" class="btn btn-success"><i#}
{#                                        class="material-icons">&#xE147;</i> <span>Add New Product</span></a>#}
{#                                <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i#}
{#                                        class="material-icons">&#xE15C;</i> <span>Delete</span></a>#}
{#                            </div>#}
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                            </th>
                            <th>№:</th>
                            <th>Ismi</th>
                            <th>Telefon raqami</th>
                            <th>Hisob tarixi</th>
                            <th>Created at</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for menu in object_list %}
                            <tr>
                                <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox{{ menu.pk }}" name="option" value="{{ menu.pk }}">
								<label for="checkbox1"></label>
							</span>
                                </td>
                                <td>{{ forloop.counter }}</td>
                                <td class="font-weight-bold">{{ menu.name }}</td>
                                <td>{{ menu.phone_number }}{% if menu.is_new %}
                                    <span class="badge badge-success ml-1">New</span>{% endif %}</td>
                                <td><b>{{ menu.totalPrice }}</b> so'm</td>
{#                                <td><b>{{ menu.totalPrice|intcomma }}</b> so'm</td>#}
                                <td>{{ menu.created_at|date:'d-m-Y, H:m' }}</td>
{#                                <td>#}
{#                                    <a href="#editEmployeeModal" class="edit" data-toggle="modal"#}
{#                                       onclick="myFunction('{{ menu.name }}', '{{ menu.price }}',#}
{#                                               '{% url 'menu:product-update' pk=menu.pk %}?next={{ request.path }}?{{ request.GET.urlencode }}',#}
{#                                               '{{ menu.discount }}', '{{ menu.image.url }}',#}
{#                                               '{{ menu.description }}'#}
{#                                               )">#}
{#                                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>#}
{##}
{#                                    <a onclick="document.getElementById('checkbox{{ menu.pk }}').checked=true"#}
{#                                       href="#deleteEmployeeModal" class="delete" data-toggle="modal">#}
{#                                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>#}
{#                                </td>#}
                            </tr>
                        {% empty %}
                            <td colspan="9" class="text-center">
                                <button class="btn btn-primary">Back</button>
                                <h4>Category empty:</h4></td>
                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">Showing <b>{{ page_obj.start_index }}–{{ page_obj.end_index }}</b> out of
                            <b>{{ page_obj.paginator.count }}</b> entries
                        </div>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                                </li>
                            {% endif %}
                            {% for page in page_obj.paginator.page_range %}
                                <li class="page-item {% if page == page_obj.number %} active {% endif %}">
                                    <a href="?page={{ page }}" class="page-link">{{ page }}</a></li>
                                <li class="page-item">
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Edit Modal HTML -->



{% endblock %}

